{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{listing.title}}</h2>

    {% if can_watchlist %}
        <form action="{% url 'watchlist' listing.title %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Watchlist">
        </form>
    
    {% else %}
        <form action="{% url 'rm_watchlist' listing.title %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove From Watchlist">
        </form>

    {% endif %}

    <br>

    {% if listing.image %}
        <img src={{ listing.image.url }} alt="Product Image">
    {% else %}
        <p> No image listed. </p>
    {% endif %}

    <p>{{ listing.description }}</p>

    <h2><span>&#36;</span>{{ listing.bid }}</h2>
    
    {% if status and listing.is_won == False %}
        <p>{{ status }}</p>
    {% endif %}
    
    {% if user.is_authenticated and listing.owner.username != user.username and listing.is_won == False %}

        <form action="{% url 'bids' listing.title %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Place Bid">
        </form>
    {% endif %}

    {% if user.is_authenticated and listing.owner.username != user.username and listing.is_won == True and listing.winner.username == user.username %}
        <h7>Congratulations! You have won the auction at {{ listing.win_price }}</h7>
    {% endif %}

    {% if user.is_authenticated and listing.owner.username != user.username and listing.is_won == True and listing.winner.username != user.username %}
        <h7>Sorry, the auction closed at {{ listing.win_price }}.</h7>
    {% endif %}

    {% if user.is_authenticated and listing.owner.username == user.username and num_bids > 0 and listing.is_won == False %}
        <form action="{% url 'close' listing.title %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Close Auction">
        </form>
    {% endif %}

    {% if user.is_authenticated and listing.owner.username == user.username and listing.is_won == True %}
        <h7>You sold this item at {{ listing.win_price }}.</h7>
    {% endif %}

    <br>

    <h4>Details</h4>
    <ul>
        <li>Listed by: {{listing.owner.username}}</li>
        {% if listing.category != "None" %}
            <li> Category: {{listing.category}} </li>
        {% else %}
            <li> Category: No category listed </li>
        {% endif %}
    </ul>

    <h4>Comments</h4>

    <form action="{% url 'comment' listing.title %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="Publish">
    </form>

    <h4>Other Comments</h4>

    {% for comment in comments %}
        <p><h7>Posted By: {{comment.customer.username}}</h7></p>
        <p>{{comment.comment}}</p>
        <hr>

    {% empty %}
        <h6>No comments yet!</h6>
    {% endfor %}

{% endblock %}